@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
$font-stack: "Lato", sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

// Layout Component
.layout {
  main {
    padding: 0 clamp(2rem, 12vw, 8rem);
  }
  // Nav
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem clamp(2rem, 12vw, 8rem);
    background-color: rgb(138, 138, 138);
    .logo img {
      width: 50px;
      height: auto;
    }
    .logo a {
      display: flex;
      gap: .5rem;
      align-items: center;
      text-decoration: none;
      font-size: 2.5rem;
      color: #fff;
    }
    ul {
      list-style: none;
      button {
        background: none;
        border: none;
        background-color: rgb(100, 100, 255);
        padding: .5rem 1rem;
        font-size: 1rem;
        color: #fff;
        font-weight: 600;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
          background-color: rgb(125, 125, 255);
        }
      }
    }
  }
  // Footer
  footer {
    background-color: rgb(214, 214, 214);
    padding: 1rem clamp(2rem, 12vw, 8rem);
    margin-top: 2rem;
  }
}